REPO_GITHUB_TOKEN=
REPO_OWNER=AdobeDocs
REPO_NAME=commerce-services
REPO_BRANCH=main

# Adobe Commerce Optimizer Merchandising Services Configuration
# Set your tenant ID here
TENANT_ID=
CATALOG_VIEW_ID=
